body
{
	font-family: 'Josefin Sans', sans-serif;
	scroll-behavior: smooth;
}
/* Back Pulse */
@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
h1#header-text 
{
    .animated;
    .tdDropInLeft;
}
html
{
	scroll-behavior: smooth;
	scr
}
.header
{
	height: 100vh;

}
.bg
{
	background: url("svg.svg");
	background-repeat: no-repeat;
	background-position: all;
}
.bg-1
{
	background: url("svg1-01-01.svg");
	background-repeat: no-repeat;
	background-size: 400px;
	background-position: 0px;
}
.blob
{
	background: url("blob.png");
	background-repeat: no-repeat;
	background-size: 70%;
}
.nav-text
{
	color: #4ecdc4;
	font-size: 30px;
}
.banner-text
{
	padding-top: 190px;
	padding-left: 100px;
	font-size: 50px;
}
.text-colour
{
	color: #4ecdc4;
}
.btn{
  background: none;
  border: 2px solid #4ecdc4;
  text-transform: uppercase;
  padding: 10px;
  min-width: 00px;
  margin-left:  100px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  color: #4ecdc4;
}
.btn:hover{
  color: #fff;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #4ecdc4;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}
.btn1::before{
  transform: scaleX(0);
}
.btn1:hover::before{
  transform: scaleX(1);
}

.know a
{
	text-decoration-line: none;
	color: #4ecdc4;
}
.about
{
	height: 80vh;
	background-color: #4ecdc4;
}
.about-div
{
	text-align: center!important;
}
.about-text
{
	color: white;
}
.about-img
{
	border-radius: 11px 58px 9px 55px;
	margin-top: 50px;
}
.about-img:hover
{
	-moz-transform: translate(0px, -29px);
-webkit-transform: translate(0px, -29px);
-o-transform: translate(0px, -29px);
-ms-transform: translate(0px, -29px);
transform: translate(0px, -29px)!important;
	
}
.about-p
{	
	color: white;
	margin-top: 100px;
	margin-right: 100px;	
}
.resume-div a
{
	text-decoration-line: none;
	color: #fff;
}
.resume
{
	background: none;
	border: 2px solid #fff;
	border-radius: 3px;
	padding: 10px;
	min-width: 200px;
	background: none;
	transition: color 0.4s linear;
	position: relative;
}
.resume:hover
{
	color: #4ecdc4;
	background-color: white;
}
.project-title
{
	margin-bottom: 100px;
}
.project1
{
	padding: 0px;
}
.project1 a
{
	color: #4ecdc4; 
	text-decoration-line: none;
}
.project1 a:hover
{
	color: white;
	background: #4ecdc4;
	transition: .5s;
}
.see-live
{
	border:  2px solid;
	padding: 10px;
	margin-left: 20px;
}
.project2 , .project3
{
	margin-top: 100px;
	margin-bottom: 20px;
}
.project1 p, .project1 a
	{
		font-family: 'Muli', sans-serif;
	}
.contact
{
	text-align: center;
	color: white;
	background-color:  #2b2d42;
	height: 25vh;

}
.span-p
{
	
	height: 200px;
	width: 200px;
	 background-color: #0074d9;
 	 border-radius: 10px;
}

.btns{
	display: inline-block;
    width:40px;
    height: 40px;
    background: #4ecdc4;
    margin: 7px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: white;
    overflow: hidden;
    position: relative;
}

.btns i{
	margin-left: 0px;
    line-height: 40px;
    font-size: 20px;
    transition: 0.2s linear;
}

.btns:hover i{
    transform: scale(1.3);
    color: #f7f1e3;
}

.btns::before{
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    background: #e84118;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btns:hover::before{
    animation: animate 0.7s 1;
    top: -10%;
    left: -10%;
}
.project-image img
{
	border-radius: 5px;
	
}

@keyframes animate{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}


@media only screen and (max-width: 600px)
{
	.header
	{
		height: 130vh;
	}
	.banner-text
	{
		padding-top: 100px;
		padding-left: 10px;
		font-size: 35px;
		line-height: 1.5;
		text-align: center;
	}
	.btn
	{
		text-align: center;
	}
	.about
	{
		height: 140vh;
		background-color: #4ecdc4;
		text-align: center;
	}
	.about-text
	{
		font-size: 20px;
	}
	.about-p
	{
		margin-top: 100px;
		margin-right: 0px;
		color: white;
	}
	.project-title
	{
		margin-bottom: 10px;
		margin-top: 50px;

	}
	.project-title h1
	{
		margin-bottom: 50px;
		font-size: 30px;
	}
	.project1, 
	{
		padding: 20px;
		font-size: 15px;
	}
	.project1 h1
	{
		font-size: 20px;
		text-align: left;
		margin-top: 0px;

	}
	.project1 p, .project1 a
	{
		font-family: 'Muli', sans-serif;
	}
	.project-image
	{
		margin: 20px;

	}
}
